@media (max-width: 768px) {
  * {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Noto Sans TC', sans-serif;
    a {
      text-decoration: none;
    }
  }

  .sold-out {
    display: none;
  }
  .desktop-nav {
    display: none;
  }
  .more {
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    a {
      color: #ac8a46;
    }
  }

  .mobile-nav {
    z-index: 10;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
    align-items: center;
    height: 56px;
    flex-wrap: wrap;
    position: fixed;
    background: #ffffff;
    width: 100%;
    img {
      width: 128px;
      height: 38px;
    }
    .fas {
      color: #8d8d8d;
    }
    .fa-shopping-cart {
      font-size: 16px;
      margin-right: 20px;
    }
    .fa-bars {
      font-size: 26px;
    }
  }
  .desktop-footer {
    display: none;
  }
  #switchMenu {
    position: absolute;
    opacity: 0;
  }
  #switchMenu:checked + .insideMenu {
    transform: translateY(0%);
  }
  .insideMenu {
    z-index: 1;
    top: 56px;
    display: block;
    height: 100%;
    position: fixed;
    transform: translateY(-100%);
    transition: 0.3s;
    width: 100%;
    li {
      width: 100%;
      background: #707070;
      text-align: center;
      height: 56px;
      line-height: 56px;
      border-bottom: 1px solid #ffffff;
      a {
        text-decoration: none;
        color: #ffffff;
      }
    }
  }
  .main-pic {
    position: relative;
    top: 40px;
    width: 100%;
    height: auto;
    img {
      width: 100%;
      height: 480px;
      object-fit: cover;
      object-position: 15% 50%;
    }
    .main-text {
      position: absolute;
      top: 25%;
      color: #ffffff;
      padding: 0 15px;
      h1 {
        font-size: 32px;
        font-weight: bold;
      }
      p {
        font-size: 20px;
        margin-bottom: 16px;
      }
      button {
        width: 345px;
        border: 1px #fff solid;
        background: rgba(0, 0, 0, 0);
        font-size: 28px;
        border-radius: 30px;
        font-weight: bold;
        padding-top: 2px;
        padding-bottom: 8px;
        a {
          text-decoration: none;
          color: #fff;
        }
      }
    }
  }
  .container {
    width: 100%;
    height: auto;

    .memberCenter {
      color: #848484;
      width: 345px;
      margin: 0 auto;
      position: relative;
      top: 64px;
      font-size: 16px;
      input {
        border-radius: 4px;
      }
      select {
        border-radius: 4px;
        border: 1px solid #ced4da;
      }
      .sidebar {
        h1 {
          display: none;
        }
        ul {
          display: flex;
          justify-content: space-between;
          li:first-child {
            border-bottom: 2px solid #916000;
          }
        }
      }
      .mobile-memberShow {
        ::placeholder {
          color: #818a91;
        }
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        .memberPD {
          color: #818a91;
          height: 420px;
          h2 {
            color: #000;
            font-size: 16px;
            border-bottom: #818a91 1px solid;
            padding-bottom: 8px;
            margin-bottom: 16px;
          }
          span {
            display: block;
            width: 165px;
            height: 38px;
            background: #916000;
            border-radius: 4px;
            text-align: center;
            line-height: 38px;
            color: #fff;
            margin-left: 86px;
          }
          li {
            width: 345px;
            display: flex;
            height: 40px;
            justify-content: space-between;
            margin-bottom: 36px;
            input {
              width: 207px;
              height: 38px;
              border: 1px solid #ced4da;
              padding-left: 10px;
              margin-right: 33px;
            }
          }
        }
        .memberInfo {
          h2 {
            color: #000;
            font-size: 16px;
            border-bottom: #818a91 1px solid;
            padding-bottom: 8px;
            margin-bottom: 16px;
          }
          ul {
            .memberAddr {
              display: flex;
              .memAddrInfo {
                display: flex;
                width: 255px;
                flex-wrap: wrap;
                .confirmMod {
                  display: block;
                  width: 165px;
                  height: 38px;
                  background: #916000;
                  border-radius: 4px;
                  text-align: center;
                  line-height: 38px;
                  color: #fff;
                  margin-left: 30px;
                }
                input[type='checkbox'] {
                  width: 16px;
                  height: 16px;
                  border: 1px solid #818a91;
                  margin-right: 4px;
                }
                select {
                  display: block;
                  padding-left: 10px;
                  width: 80px;
                  height: 40px;
                  margin-bottom: 8px;
                  border: #ced4da 1px solid;
                  color: #818a91;
                }
                select:first-child {
                  width: 170px;
                }
                select:nth-child(3) {
                  margin-left: 10px;
                }
              }
              span {
                margin: 0;
                display: inline-block;
                height: 30px;
                display: flex;
                align-items: center;
                color: #818a91;
              }
              span:last-child {
                margin-top: 16px;
              }
            }
            li {
              margin-bottom: 20px;
              span {
                margin-left: 28px;
              }
              input {
                margin-left: 28px;
                height: 38px;
                width: 207px;
                padding-left: 10px;
                font-size: 16px;
                border: #ced4da 1px solid;
              }
              select {
                margin-left: 28px;
                height: 38px;
                padding-left: 8px;
                font-size: 16px;
                color: #818a91;
              }
            }
          }
        }
        .memberNumber {
          ul {
            position: relative;
            li {
              width: 200px;
              display: flex;
              justify-content: space-between;
              margin-bottom: 16px;
              span {
                width: 100px;
              }
            }
            .bonus {
              position: relative;
              top: -20px;
              color: #a5a5a5;
              font-size: 12px;
            }
          }
          .memberNumberInfo {
            margin-top: 40px;
            margin-bottom: 24px;
            display: flex;
            align-items: center;
            font-size: 16px;

            .fa-user {
              font-size: 18px;
              margin-right: 5px;
            }
          }
        }
      }
    }
    .productCards {
      padding: 40px 15px;
      ul {
        li {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-top: 32px;
          text-align: center;
          img {
            width: 345px;
            height: 350px;
            object-fit: cover;
            object-position: 20% 10%;
          }
          h2 {
            font-size: 32px;
            font-weight: bolder;
          }
          p {
            font-size: 20px;
          }
          span {
            font-weight: bold;
            font-size: 16px;
            cursor: pointer;
            a {
              color: #ac8a46;
            }
          }
        }
      }
    }
    .productDetail {
      margin-top: 32px;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 32px;
      text-align: center;
      img {
        width: 345px;
        height: 680px;
        object-fit: cover;
      }
      ul {
        li {
          margin: 0;
          h3 {
            font-size: 24px;
          }
          p {
            font-size: 16px;
            margin-bottom: 16px;
          }
        }
      }
      button {
        display: inline-block;
        width: 100%;
        height: 60px;
        outline: none;
        background: rgba(0, 0, 0, 0);
        border-radius: 30px;
        font-size: 20px;
        font-weight: bold;
        a {
          color: #000;
        }
      }
    }

    .prouct-list-more {
      position: relative;
      top: 56px;
      margin-bottom: 46px;
      ul {
        display: flex;
        flex-wrap: wrap;
        li {
          width: 165px;
          margin: 15px 7.5px;
          img {
            width: 165px;
            height: 165px;
            object-fit: cover;
            // object-position: 50% 100%;
          }
          .product-sale {
            text-decoration: line-through;
            color: #8d8d8d;
            margin-left: 8px;
          }
          i {
            margin-top: 3px;
            font-size: 18px;
            color: #916019;
            a {
              color: #916019;
            }
          }
        }
      }
    }
    .pages {
      margin-top: 20px;
      margin-bottom: 100px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      span {
        margin: 0 10px;
        font-size: 20px;
        display: inline-block;
        width: 20px;
        height: 30px;
        font-weight: bold;
      }
      span:first-child {
        color: #ac8a46;
        border-bottom: 2px solid #ac8a46;
      }
    }
    .product-info {
      padding: 0 15px;

      img {
        width: 345px;
        height: 220px;
        object-fit: cover;
        margin-bottom: 28px;
      }
      h1 {
        font-size: 32px;
        font-weight: bold;
      }
      p {
        font-size: 20px;
        margin-bottom: 32px;
      }
      span {
        font-size: 20px;
        display: block;
        margin-bottom: 12px;
      }
      .fa-heart {
        color: #916019;
      }
      .add-fav {
        display: inline-block;
        font-size: 16px;
      }
      .purchase-notice {
        margin-top: 40px;
        h2 {
          font-size: 16px;
          font-weight: bold;
          margin-bottom: 8px;
        }
        p {
          font-size: 16px;
        }
      }
      .product-img {
        img {
          width: 345px;
          height: 640px;
          object-fit: cover;
          margin-bottom: 16px;
        }
      }
      .input-number {
        position: relative;
        display: flex;
        input {
          width: 141px;
          height: 48px;
          padding-left: 16px;
          border: 1px #916000 solid;
          border-radius: 4px 0px 0px 4px;
          font-size: 20px;
        }
        .fa-sort-up {
          position: absolute;
          top: 18px;
          left: 138px;
          font-size: 14px;
        }
        .fa-sort-down {
          position: absolute;
          top: 22px;
          left: 138px;
          font-size: 14px;
        }
        span {
          background: #916000;
          display: inline-block;
          width: 188px;
          height: 46px;
          text-align: center;
          line-height: 46px;
          border: 2px solid #916000;
          border-radius: 0 4px 4px 0;
          a {
            color: #fff;
          }
        }
      }
    }
    .log-in {
      padding: 0 15px;
      margin: 0 auto;
      position: relative;
      top: 56px;
      img {
        width: 345px;
        height: 220px;
        object-fit: cover;
      }
      .log-info {
        padding: 28px 0;
        height: 450px;
        h1 {
          font-weight: bold;
          font-size: 32px;
          margin-bottom: 12px;
        }
        span {
          display: block;
          font-size: 16px;
          margin-bottom: 4px;
        }
        input {
          width: 333px;
          height: 38px;
          padding-left: 12px;
          outline: none;
          font-size: 16px;
          border: 1px solid #818a91;
          border-radius: 4px;
          margin-bottom: 20px;
        }
        .log-in-buttons {
          color: #916000;
          margin-bottom: 113px;
          display: flex;
          justify-content: space-between;
          margin-top: 43px;
          span {
            font-size: 24px;
            a {
              color: #916000;
              font-size: 16px;
            }
          }
          .log-in-button {
            display: flex;
            span {
              display: inline-block;
              width: 63px;
              height: 36px;
              border: 1px solid #916000;
              border-radius: 4px;
              display: flex;
              align-items: center;
              text-align: center;
              justify-content: center;
              margin-left: 8px;
              a {
                text-decoration: none;
                display: inline-block;
                color: #916000;
                font-size: 16px;
              }
            }
            span:last-child {
              background: #916000;
              a {
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
  .productList {
    background: #e0e0e0;
    width: 100%;
    ul {
      padding: 32px 16px 8px 16px;
      li {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 32px;
        img {
          width: 344px;
          height: 350px;
          object-fit: cover;
          object-position: 50% 100%;
        }
        h3 {
          margin-top: 8px;
          font-size: 24px;
          font-weight: bold;
        }
        span {
          font-size: 16px;
          margin-right: 6px;
        }
        .product-sale {
          color: #8d8d8d;
          text-decoration: line-through;
        }
      }
    }
  }
  .recycleState {
    padding: 40px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    img {
      width: 345px;
      height: 520px;
      object-fit: cover;
    }
    h2 {
      font-size: 32px;
      font-weight: bold;
    }
    p {
      font-size: 20px;
      margin-bottom: 8px;
    }
    span {
      display: inline-block;
      font-size: 16px;
      margin-bottom: 8px;
    }
  }

  footer {
    .subscribe {
      position: relative;
      height: 600px;
      img {
        width: 100%;
        height: 600px;
        object-fit: cover;
        object-position: 2% 10%;
      }
      .subscribeText {
        position: absolute;
        top: 60%;
        height: 30px;
        color: #8d8d8d;
        padding: 0 15px;
        font-size: 32px;
        font-weight: bold;
        p {
          width: 320px;
        }
        input {
          width: 330px;
          padding-left: 15px;
          height: 60px;
          font-size: 16px;
          border: #916000 2px solid;
        }
        span {
          border: #916000 2px solid;
          display: inline-block;
          width: 129px;
          height: 60px;
          position: relative;
          bottom: 64px;
          right: 0;
          bottom: 0;
          background: #916000;
          color: #ffffff;
          line-height: 60px;
          font-size: 16px;
          text-align: center;
        }
      }
    }
    .mobile-copyRight {
      background: #916000;
      height: 80px;
      line-height: 80px;
      color: #fff;
      display: flex;
      justify-content: center;
      text-align: center;
      align-items: center;
      img {
        width: 128px;
        height: 38px;
        margin-right: 23px;
      }
    }
  }
}
@media (min-width: 768px) {
  * {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Noto Sans TC', sans-serif;
    a {
      text-decoration: none;
      color: black;
    }
  }

  .insideMenu {
    display: none;
  }
  #switchMenu {
    display: none;
  }

  .mobile-nav {
    display: none;
  }

  .more {
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    a {
      color: #ac8a46;
    }
  }

  .desktop-nav {
    width: 100%;
    height: 56px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    img {
      width: 128px;
      height: 38px;
    }
    ul {
      text-align: right;
      display: flex;
      align-items: center;
      li {
        width: 100px;
        a {
          color: #8d8d8d;
        }
        i {
          margin-right: 3px;
        }
      }
    }
    .banner {
      width: 100%;
      background: #916000;
      display: block;
      height: 40px;
      .brand {
        width: 1110px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        span {
          height: 40px;
          line-height: 40px;
          margin-right: 28px;
          transition: 0.2s;
          font-size: 16px;
          a {
            color: #fff;
          }
        }
        span:hover {
          font-weight: bold;
        }
      }
    }
  }
  .main-pic {
    img {
      width: 100%;
      height: 870px;
      object-fit: cover;
    }
    .main-text {
      position: absolute;
      color: #fff;
      top: 70%;
      right: 5%;
      width: 445px;
      h1 {
        font-size: 40px;
        font-weight: bold;
      }
      p {
        font-size: 24px;
      }
      button {
        margin-top: 16px;
        width: 350px;
        height: 60px;
        border-radius: 30px;
        background: rgba(0, 0, 0, 0);
        border: #fff solid 2px;
        transition: 0.3s;
        a {
          color: #fff;
          font-size: 20px;
          font-weight: bold;
          transition: 0.3s;
        }
      }
      button:hover {
        background: rgba(255, 255, 255, 0.808);
        border: 0;
        a {
          color: #707070;
        }
      }
    }
  }
  .container {
    margin: 0 auto;
    .productCards {
      margin-top: 60px;
      .pic-right {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        .productCardsText {
          width: 555px;
          box-sizing: border-box;
          padding: 110px;
          h2 {
            font-size: 32px;
            font-weight: bold;
          }
          p {
            font-size: 20px;
            margin-bottom: 16px;
          }
        }
      }
      .pic-left {
        display: flex;
        justify-content: center;
        .productCardsText {
          width: 555px;
          box-sizing: border-box;
          padding: 110px;
          h2 {
            font-size: 32px;
            font-weight: bold;
          }
          p {
            font-size: 20px;
            margin-bottom: 16px;
          }
        }
      }
      img {
        width: 555px;
        height: 555px;
        object-fit: cover;
        object-position: 20% 10%;
      }
      .productDetail {
        display: flex;
        justify-content: center;
        img {
          width: 555px;
          height: 1080px;
          object-fit: cover;
          object-position: 80% 10%;
        }
        .productDetailText {
          width: 555px;
          padding: 110px;
          box-sizing: border-box;
          li {
            margin-bottom: 52px;
          }
        }
        button {
          border: 2px solid #000;
          cursor: pointer;
          width: 350px;
          height: 60px;
          border-radius: 30px;
          background: rgba(0, 0, 0, 0);
          transition: 0.3s;
          a {
            font-size: 20px;
            font-weight: bold;
            transition: 0.3s;
          }
        }
        button:hover {
          background: #916000;
          border: #fff;
          a {
            color: #fff;
          }
        }
      }
    }
    .prouct-list-more {
      width: 1140px;
      margin: 0 auto;
      margin-top: 100px;
      .product-sale {
        text-decoration: line-through;
        color: #8d8d8d;
        margin-left: 8px;
      }
      ul {
        display: flex;
        flex-wrap: wrap;
        li {
          width: 255px;
          padding: 0 15px;
          margin-bottom: 60px;
          img {
            width: 255px;
            height: 255px;
            object-fit: cover;
          }
          i {
            color: #916019;
          }
        }
      }
    }
    .pages {
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
      margin-bottom: 60px;
      span {
        margin: 0 15px;
        font-size: 20px;
      }
      span:first-child {
        a {
          color: #916019;
          border-bottom: 1px solid #916019;
        }
      }
    }
    .product-info {
      width: 1110px;
      height: 1750px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      position: relative;
      top: 80px;
      margin: 0 auto;
      .product-img {
        position: relative;
        top: -330px;
        img {
          width: 350px;
          height: 640px;
          object-fit: cover;
        }
        img:nth-child(3) {
          width: 733px;
          height: 460px;
          margin-top: 30px;
        }
      }
      img {
        width: 730px;
        height: 460px;
        margin-right: 30px;
      }
      .product-info-text {
        width: 350px;

        h1 {
          font-size: 32px;
          font-weight: bold;
        }
        p {
          font-size: 20px;
          margin-bottom: 32px;
        }
        span {
          font-size: 20px;
          display: block;
          margin-bottom: 12px;
        }
        .fa-heart {
          color: #916019;
        }
        .add-fav {
          display: inline-block;
          font-size: 16px;
        }

        .input-number {
          position: relative;
          display: flex;
          input {
            width: 141px;
            height: 48px;
            padding-left: 16px;
            border: 1px #916000 solid;
            border-radius: 4px 0px 0px 4px;
            font-size: 20px;
            -moz-appearance: textfield;
            outline: none;
          }
          input[type='number']::-webkit-inner-spin-button,
          input[type='number']::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }
          .fa-sort-up {
            position: absolute;
            top: 16px;
            left: 138px;
            font-size: 14px;
            cursor: pointer;
          }
          .fa-sort-down {
            position: absolute;
            top: 24px;
            left: 138px;
            font-size: 14px;
            cursor: pointer;
          }
          span {
            background: #916000;
            display: inline-block;
            width: 188px;
            height: 46px;
            text-align: center;
            line-height: 46px;
            border: 2px solid #916000;
            border-radius: 0 4px 4px 0;
            a {
              color: #fff;
            }
          }
        }
      }
    }
    .log-in {
      position: relative;
      top: 56px;
      display: flex;
      margin: 0 auto;
      margin-top: 40px;
      width: 1110px;
      margin-bottom: 120px;

      img {
        width: 730px;
        height: 730px;
        object-fit: cover;
        margin-right: 30px;
      }
      .log-info {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h1 {
          font-size: 32px;
          width: 100%;
          margin-bottom: 12px;
        }
        span {
          width: 100%;
          margin-bottom: 4px;
        }
        input {
          width: 338px;
          height: 38px;
          padding-left: 12px;
          margin-bottom: 20px;
        }
        .log-in-buttons {
          width: 100%;
          display: flex;
          justify-content: space-between;
          height: 38px;
          line-height: 38px;
          a {
            font-weight: bold;
            color: #916000;
          }
          .log-in-button {
            display: flex;
            span {
              display: inline-block;
              width: 63px;
              height: 36px;
              border: 1px #916000 solid;
              border-radius: 4px;
              display: flex;
              align-items: center;
              justify-content: center;
              margin-left: 8px;
              cursor: pointer;
              a {
                color: #916000;
              }
            }
            span:last-child {
              background: #916000;
              a {
                color: #fff;
              }
            }
          }
        }
      }
    }
    .memberCenter {
      position: relative;
      top: 56px;
      width: 1110px;
      box-sizing: content-box;
      height: auto;
      margin: 0 auto;
      display: flex;
      justify-content: left;
      .sidebar {
        color: #848484;
        font-weight: bold;
        h1 {
          font-size: 20px;
          margin-bottom: 28px;
        }
        ul {
          li {
            cursor: pointer;
            font-size: 16px;
            margin-bottom: 24px;
          }
          li:first-child {
            border-bottom: 2px solid #916000;
          }
        }
      }
      .order {
        display: none;
      }
      .returnApply {
        display: none;
      }
      .mobile-memberShow {
        display: flex;
        .member {
          max-width: 635px;
          margin-right: 130px;
          margin-left: 130px;
          .memberPD {
            color: #818a91;
            font-size: 16px;
            margin-bottom: 120px;
            span {
              margin-top: 16px;
              cursor: pointer;
              display: block;
              width: 160px;
              height: 38px;
              background: #916000;
              border-radius: 4px;
              text-align: center;
              line-height: 38px;
              color: #fff;
              margin-left: 95px;
            }
            ul {
              li {
                margin: 20px 0px;
                padding: 0;
                span {
                  margin-left: 30px;
                }
                input {
                  margin-left: 47px;
                  height: 38px;
                  width: 340px;
                  padding-left: 10px;
                  border: 1px solid #ced4da;
                  border-radius: 4px;
                }
              }
              li:last-child {
                input {
                  margin-left: 31px;
                }
              }
            }
            h2 {
              font-size: 16px;
              border-bottom: solid 1px #818a91;
              padding-bottom: 8px;
              color: #000;
            }
          }
          .memberInfo {
            color: #818a91;
            font-size: 16px;
            h2 {
              font-size: 16px;
              border-bottom: solid 1px #818a91;
              padding-bottom: 8px;
              color: #000;
            }
            ul {
              li {
                margin: 16px 0px;
                padding: 0;

                select {
                  margin-left: 30px;
                  border: 1px solid #ced4da;
                  border-radius: 4px;
                  padding-left: 10px;
                  width: 62px;
                  height: 36px;
                  color: #818a91;
                }
                span {
                  margin-left: 30px;
                }
                input {
                  margin-left: 30px;
                  height: 38px;
                  width: 340px;
                  padding-left: 10px;
                  border: 1px solid #ced4da;
                  border-radius: 4px;
                }
                input[type='checkbox'] {
                  display: inline-block;
                  width: 15px;
                  height: 15px;
                }

                .memAddrInfo {
                  select {
                    margin-left: 30px;
                    display: block;
                    padding-left: 10px;
                    width: 150px;
                    height: 38px;
                    margin-bottom: 8px;
                  }
                }
              }
              .memberAddr {
                display: flex;
                margin-bottom: 20px;
                span {
                  margin: 0;
                }
                .confirmMod {
                  cursor: pointer;
                  display: block;
                  width: 160px;
                  height: 38px;
                  background: #916000;
                  border-radius: 4px;
                  text-align: center;
                  line-height: 38px;
                  color: #fff;
                  margin-left: 30px;
                }
                span:last-child {
                  display: block;
                  margin-top: 12px;
                  input {
                    margin-right: 8px;
                  }
                }
                select {
                  margin-bottom: 16px;
                }
              }
            }
          }
        }
      }
      .memberNumber {
        color: #818a91;
        .memberNumberInfo {
          font-size: 20px;
          display: flex;
          align-items: center;
          margin-bottom: 25px;
          .fa-user {
            color: #000;
            font-size: 20px;
            margin-right: 5px;
          }
        }
        ul {
          position: relative;
          .bonus {
            position: relative;
            top: -20px;
            color: #a5a5a5;
            font-size: 14px;
          }
          li {
            width: 200px;
            margin-bottom: 16px;
            display: flex;
            justify-content: space-between;
            span {
              display: inline;
              width: 100px;
              text-align: left;
            }
          }
        }
      }
    }
  }
  .productList {
    width: 100%;
    padding: 40px 0;
    background: #e0e0e0;
    margin-top: 60px;
    ul {
      display: flex;
      justify-content: center;
      li {
        position: relative;
        margin: 0 15px;
        img {
          width: 350px;
          height: 540px;
          transition: 0.3s;
        }
        h3 {
          font-size: 24px;
          font-weight: bold;
        }
        .productPrice {
          margin-top: 16px;
          span {
            margin-right: 8px;
          }
          .product-sale {
            text-decoration: line-through;
          }
        }
        .sold-out {
          position: absolute;
          top: 0;
          z-index: -1;
          color: #fff;
          display: inline-block;
          width: 350px;
          top: 40%;
          text-align: center;
          font-size: 24px;
          font-weight: bold;
        }
      }

      .sold-out-product:hover {
        .sold-out {
          z-index: 2;
        }
        img {
          -webkit-filter: brightness(0.7);
        }
      }
    }
  }
  .recycleState {
    display: flex;

    justify-content: center;
    padding: 60px 0;
    img {
      width: 730px;
      height: 520px;
    }
    .recycleStateText {
      width: 350px;
      padding: 82px 30px;
      h2 {
        font-size: 32px;
        font-weight: bold;
      }
      p {
        font-size: 20px;
        margin-bottom: 16px;
      }
      span {
        display: block;
        font-size: 16px;
        margin-bottom: 16px;
      }
    }
  }
  .mobile-footer {
    display: none;
  }

  .desktop-footer {
    .subscribe {
      position: relative;
      height: 300px;
      img {
        width: 100%;
        height: 300px;
        object-fit: cover;
      }
      .subscribeText {
        position: absolute;
        top: 20%;
        left: 20%;
        p {
          color: #8d8d8d;
          font-size: 32px;
          font-weight: bold;
        }
        input {
          height: 60px;
          width: 330px;
          padding-left: 20px;
          font-size: 16px;
          border: 2px solid #916000;
        }
        a {
          position: absolute;
          display: inline-block;
          width: 130px;
          height: 61px;
          background: #916000;
          text-align: center;
          line-height: 60px;
          right: 1px;
          top: 95px;
          color: #fff;
          font-size: 16px;
        }
      }
    }
    .mobile-copyRight {
      display: none;
    }
    .desktop-copyright {
      width: 100%;
      height: 80px;
      background: #916000;
      display: flex;
      .copyright-container {
        margin: auto;
        width: 1110px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .copyright-left {
          color: #fff;
          align-items: center;
          display: flex;
          img {
            width: 128px;
            height: 38px;
            margin-right: 20px;
          }
          span {
            font-size: 14px;
          }
        }
        .copyright-right {
          ul {
            display: flex;
            li {
              margin-left: 36px;
              a {
                color: #fff;
                font-size: 20px;
              }
            }
          }
        }
      }
    }
  }
}
