@media (max-width: 376px) {
  * {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "Noto Sans TC", sans-serif;
    max-width: 375px;
  }
  * a {
    text-decoration: none;
  }
  .sold-out {
    display: none;
  }
  .desktop-nav {
    display: none;
  }
  .more {
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
  }
  .more a {
    color: #ac8a46;
  }
  .mobile-nav {
    z-index: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 56px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: fixed;
    background: #ffffff;
    width: 100%;
  }
  .mobile-nav img {
    width: 128px;
    height: 38px;
    margin-right: 116px;
  }
  .mobile-nav .fas {
    color: #8d8d8d;
  }
  .mobile-nav .fa-shopping-cart {
    font-size: 16px;
    margin-right: 20px;
  }
  .mobile-nav .fa-bars {
    font-size: 26px;
  }
  .desktop-footer {
    display: none;
  }
  #switchMenu {
    position: absolute;
    opacity: 0;
  }
  #switchMenu:checked + .insideMenu {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  .insideMenu {
    z-index: 1;
    top: 56px;
    display: block;
    height: 100%;
    position: fixed;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .insideMenu li {
    width: 375px;
    background: #707070;
    text-align: center;
    height: 56px;
    line-height: 56px;
    border-bottom: 1px solid #ffffff;
  }
  .insideMenu li a {
    text-decoration: none;
    color: #ffffff;
  }
  .main-pic {
    position: relative;
    top: 40px;
    width: 100%;
    height: auto;
  }
  .main-pic img {
    width: 375px;
    height: 480px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 15% 50%;
       object-position: 15% 50%;
  }
  .main-pic .main-text {
    position: absolute;
    top: 25%;
    color: #ffffff;
    padding: 0 15px;
  }
  .main-pic .main-text h1 {
    font-size: 32px;
    font-weight: bold;
  }
  .main-pic .main-text p {
    font-size: 20px;
    margin-bottom: 16px;
  }
  .main-pic .main-text button {
    width: 345px;
    border: 1px #fff solid;
    background: rgba(0, 0, 0, 0);
    font-size: 28px;
    border-radius: 30px;
    font-weight: bold;
    padding-top: 2px;
    padding-bottom: 8px;
  }
  .main-pic .main-text button a {
    text-decoration: none;
    color: #fff;
  }
  .container {
    max-width: 375px;
    height: auto;
  }
  .container .memberCenter {
    color: #848484;
    width: 345px;
    margin: 0 auto;
    position: relative;
    top: 64px;
    font-size: 16px;
  }
  .container .memberCenter input {
    border-radius: 4px;
  }
  .container .memberCenter select {
    border-radius: 4px;
    border: 1px solid #ced4da;
  }
  .container .memberCenter .sidebar h1 {
    display: none;
  }
  .container .memberCenter .sidebar ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .container .memberCenter .sidebar ul li:first-child {
    border-bottom: 2px solid #916000;
  }
  .container .memberCenter .mobile-memberShow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .container .memberCenter .mobile-memberShow ::-webkit-input-placeholder {
    color: #818a91;
  }
  .container .memberCenter .mobile-memberShow :-ms-input-placeholder {
    color: #818a91;
  }
  .container .memberCenter .mobile-memberShow ::-ms-input-placeholder {
    color: #818a91;
  }
  .container .memberCenter .mobile-memberShow ::placeholder {
    color: #818a91;
  }
  .container .memberCenter .mobile-memberShow .memberPD {
    color: #818a91;
    height: 420px;
  }
  .container .memberCenter .mobile-memberShow .memberPD h2 {
    color: #000;
    font-size: 16px;
    border-bottom: #818a91 1px solid;
    padding-bottom: 8px;
    margin-bottom: 16px;
  }
  .container .memberCenter .mobile-memberShow .memberPD span {
    display: block;
    width: 165px;
    height: 38px;
    background: #916000;
    border-radius: 4px;
    text-align: center;
    line-height: 38px;
    color: #fff;
    margin-left: 86px;
  }
  .container .memberCenter .mobile-memberShow .memberPD li {
    width: 345px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 40px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 36px;
  }
  .container .memberCenter .mobile-memberShow .memberPD li input {
    width: 207px;
    height: 38px;
    border: 1px solid #ced4da;
    padding-left: 10px;
    margin-right: 33px;
  }
  .container .memberCenter .mobile-memberShow .memberInfo h2 {
    color: #000;
    font-size: 16px;
    border-bottom: #818a91 1px solid;
    padding-bottom: 8px;
    margin-bottom: 16px;
  }
  .container .memberCenter .mobile-memberShow .memberInfo ul .memberAddr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .container .memberCenter .mobile-memberShow .memberInfo ul .memberAddr .memAddrInfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 255px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .container .memberCenter .mobile-memberShow .memberInfo ul .memberAddr .memAddrInfo .confirmMod {
    display: block;
    width: 165px;
    height: 38px;
    background: #916000;
    border-radius: 4px;
    text-align: center;
    line-height: 38px;
    color: #fff;
    margin-left: 30px;
  }
  .container .memberCenter .mobile-memberShow .memberInfo ul .memberAddr .memAddrInfo input[type="checkbox"] {
    width: 16px;
    height: 16px;
    border: 1px solid #818a91;
    margin-right: 4px;
  }
  .container .memberCenter .mobile-memberShow .memberInfo ul .memberAddr .memAddrInfo select {
    display: block;
    padding-left: 10px;
    width: 80px;
    height: 40px;
    margin-bottom: 8px;
    border: #ced4da 1px solid;
    color: #818a91;
  }
  .container .memberCenter .mobile-memberShow .memberInfo ul .memberAddr .memAddrInfo select:first-child {
    width: 170px;
  }
  .container .memberCenter .mobile-memberShow .memberInfo ul .memberAddr .memAddrInfo select:nth-child(3) {
    margin-left: 10px;
  }
  .container .memberCenter .mobile-memberShow .memberInfo ul .memberAddr span {
    margin: 0;
    display: inline-block;
    height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #818a91;
  }
  .container .memberCenter .mobile-memberShow .memberInfo ul .memberAddr span:last-child {
    margin-top: 16px;
  }
  .container .memberCenter .mobile-memberShow .memberInfo ul li {
    margin-bottom: 20px;
  }
  .container .memberCenter .mobile-memberShow .memberInfo ul li span {
    margin-left: 28px;
  }
  .container .memberCenter .mobile-memberShow .memberInfo ul li input {
    margin-left: 28px;
    height: 38px;
    width: 207px;
    padding-left: 10px;
    font-size: 16px;
    border: #ced4da 1px solid;
  }
  .container .memberCenter .mobile-memberShow .memberInfo ul li select {
    margin-left: 28px;
    height: 38px;
    padding-left: 8px;
    font-size: 16px;
    color: #818a91;
  }
  .container .memberCenter .mobile-memberShow .memberNumber ul {
    position: relative;
  }
  .container .memberCenter .mobile-memberShow .memberNumber ul li {
    width: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 16px;
  }
  .container .memberCenter .mobile-memberShow .memberNumber ul li span {
    width: 100px;
  }
  .container .memberCenter .mobile-memberShow .memberNumber ul .bonus {
    position: relative;
    top: -20px;
    color: #a5a5a5;
    font-size: 12px;
  }
  .container .memberCenter .mobile-memberShow .memberNumber .memberNumberInfo {
    margin-top: 40px;
    margin-bottom: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 16px;
  }
  .container .memberCenter .mobile-memberShow .memberNumber .memberNumberInfo .fa-user {
    font-size: 18px;
    margin-right: 5px;
  }
  .container .productCards {
    padding: 40px 15px;
  }
  .container .productCards ul li {
    margin-top: 32px;
  }
  .container .productCards ul li img {
    width: 345px;
    height: 350px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 20% 10%;
       object-position: 20% 10%;
  }
  .container .productCards ul li h2 {
    font-size: 32px;
    font-weight: bolder;
  }
  .container .productCards ul li p {
    font-size: 20px;
  }
  .container .productCards ul li span {
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
  }
  .container .productCards ul li span a {
    color: #ac8a46;
  }
  .container .productDetail {
    margin-top: 32px;
    position: relative;
  }
  .container .productDetail img {
    width: 345px;
    height: 680px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .container .productDetail ul li {
    margin: 0;
  }
  .container .productDetail ul li h3 {
    font-size: 24px;
  }
  .container .productDetail ul li p {
    font-size: 16px;
    margin-bottom: 16px;
  }
  .container .productDetail button {
    display: inline-block;
    width: 100%;
    height: 60px;
    outline: none;
    background: rgba(0, 0, 0, 0);
    border-radius: 30px;
    font-size: 20px;
    font-weight: bold;
  }
  .container .productDetail button a {
    color: #000;
  }
  .container .prouct-list-more {
    position: relative;
    top: 56px;
    margin-bottom: 46px;
  }
  .container .prouct-list-more ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .container .prouct-list-more ul li {
    width: 165px;
    margin: 15px 7.5px;
  }
  .container .prouct-list-more ul li img {
    width: 165px;
    height: 165px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .container .prouct-list-more ul li .product-sale {
    text-decoration: line-through;
    color: #8d8d8d;
    margin-left: 8px;
  }
  .container .prouct-list-more ul li i {
    margin-top: 3px;
    font-size: 18px;
    color: #916019;
  }
  .container .prouct-list-more ul li i a {
    color: #916019;
  }
  .container .pages {
    margin-top: 20px;
    margin-bottom: 100px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .container .pages span {
    margin: 0 10px;
    font-size: 20px;
    display: inline-block;
    width: 20px;
    height: 30px;
    font-weight: bold;
  }
  .container .pages span:first-child {
    color: #ac8a46;
    border-bottom: 2px solid #ac8a46;
  }
  .container .product-info {
    padding: 0 15px;
  }
  .container .product-info img {
    width: 345px;
    height: 220px;
    -o-object-fit: cover;
       object-fit: cover;
    margin-bottom: 28px;
  }
  .container .product-info h1 {
    font-size: 32px;
    font-weight: bold;
  }
  .container .product-info p {
    font-size: 20px;
    margin-bottom: 32px;
  }
  .container .product-info span {
    font-size: 20px;
    display: block;
    margin-bottom: 12px;
  }
  .container .product-info .fa-heart {
    color: #916019;
  }
  .container .product-info .add-fav {
    display: inline-block;
    font-size: 16px;
  }
  .container .product-info .purchase-notice {
    margin-top: 40px;
  }
  .container .product-info .purchase-notice h2 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
  }
  .container .product-info .purchase-notice p {
    font-size: 16px;
  }
  .container .product-info .product-img img {
    width: 345px;
    height: 640px;
    -o-object-fit: cover;
       object-fit: cover;
    margin-bottom: 16px;
  }
  .container .product-info .input-number {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .container .product-info .input-number input {
    width: 141px;
    height: 48px;
    padding-left: 16px;
    border: 1px #916000 solid;
    border-radius: 4px 0px 0px 4px;
    font-size: 20px;
  }
  .container .product-info .input-number .fa-sort-up {
    position: absolute;
    top: 18px;
    left: 138px;
    font-size: 14px;
  }
  .container .product-info .input-number .fa-sort-down {
    position: absolute;
    top: 22px;
    left: 138px;
    font-size: 14px;
  }
  .container .product-info .input-number span {
    background: #916000;
    display: inline-block;
    width: 188px;
    height: 46px;
    text-align: center;
    line-height: 46px;
    border: 2px solid #916000;
    border-radius: 0 4px 4px 0;
  }
  .container .product-info .input-number span a {
    color: #fff;
  }
  .container .log-in {
    padding: 0 15px;
    margin: 0 auto;
    position: relative;
    top: 56px;
  }
  .container .log-in img {
    width: 345px;
    height: 220px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .container .log-in .log-info {
    padding: 28px 0;
    height: 450px;
  }
  .container .log-in .log-info h1 {
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 12px;
  }
  .container .log-in .log-info span {
    display: block;
    font-size: 16px;
    margin-bottom: 4px;
  }
  .container .log-in .log-info input {
    width: 333px;
    height: 38px;
    padding-left: 12px;
    outline: none;
    font-size: 16px;
    border: 1px solid #818a91;
    border-radius: 4px;
    margin-bottom: 20px;
  }
  .container .log-in .log-info .log-in-buttons {
    color: #916000;
    margin-bottom: 113px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 43px;
  }
  .container .log-in .log-info .log-in-buttons span {
    font-size: 24px;
  }
  .container .log-in .log-info .log-in-buttons span a {
    color: #916000;
    font-size: 16px;
  }
  .container .log-in .log-info .log-in-buttons .log-in-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .container .log-in .log-info .log-in-buttons .log-in-button span {
    display: inline-block;
    width: 63px;
    height: 36px;
    border: 1px solid #916000;
    border-radius: 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 8px;
  }
  .container .log-in .log-info .log-in-buttons .log-in-button span a {
    text-decoration: none;
    display: inline-block;
    color: #916000;
    font-size: 16px;
  }
  .container .log-in .log-info .log-in-buttons .log-in-button span:last-child {
    background: #916000;
  }
  .container .log-in .log-info .log-in-buttons .log-in-button span:last-child a {
    color: #fff;
  }
  .productList {
    background: #e0e0e0;
    width: 100%;
  }
  .productList ul {
    padding: 32px 16px 8px 16px;
  }
  .productList ul li {
    margin-bottom: 32px;
  }
  .productList ul li img {
    width: 344px;
    height: 350px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 50% 100%;
       object-position: 50% 100%;
  }
  .productList ul li h3 {
    margin-top: 8px;
    font-size: 24px;
    font-weight: bold;
  }
  .productList ul li span {
    font-size: 16px;
    margin-right: 6px;
  }
  .productList ul li .product-sale {
    color: #8d8d8d;
    text-decoration: line-through;
  }
  .recycleState {
    padding: 40px 15px;
  }
  .recycleState img {
    width: 345px;
    height: 520px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .recycleState h2 {
    font-size: 32px;
    font-weight: bold;
  }
  .recycleState p {
    font-size: 20px;
    margin-bottom: 8px;
  }
  .recycleState span {
    display: inline-block;
    font-size: 16px;
    margin-bottom: 8px;
  }
  footer .subscribe {
    position: relative;
    height: 600px;
  }
  footer .subscribe img {
    width: 375px;
    height: 600px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 2% 10%;
       object-position: 2% 10%;
  }
  footer .subscribe .subscribeText {
    width: 100%;
    position: absolute;
    top: 60%;
    height: 30px;
    color: #8d8d8d;
    padding: 0 15px;
    font-size: 32px;
    font-weight: bold;
  }
  footer .subscribe .subscribeText input {
    width: 330px;
    padding-left: 15px;
    height: 60px;
    font-size: 16px;
    border: #916000 2px solid;
  }
  footer .subscribe .subscribeText span {
    border: #916000 2px solid;
    display: inline-block;
    width: 129px;
    height: 60px;
    position: relative;
    bottom: 64px;
    right: -215px;
    background: #916000;
    color: #ffffff;
    line-height: 60px;
    font-size: 16px;
    text-align: center;
  }
  footer .mobile-copyRight {
    background: #916000;
    height: 80px;
    line-height: 80px;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .mobile-copyRight img {
    width: 128px;
    height: 38px;
    margin-right: 23px;
  }
}

@media (min-width: 376px) {
  * {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "Noto Sans TC", sans-serif;
  }
  * a {
    text-decoration: none;
    color: black;
  }
  .insideMenu {
    display: none;
  }
  #switchMenu {
    display: none;
  }
  .mobile-nav {
    display: none;
  }
  .more {
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
  }
  .more a {
    color: #ac8a46;
  }
  .desktop-nav {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 56px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .desktop-nav img {
    width: 128px;
    height: 38px;
    margin-right: 582px;
  }
  .desktop-nav ul {
    text-align: right;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .desktop-nav ul li {
    margin-right: 32px;
  }
  .desktop-nav ul li a {
    color: #8d8d8d;
  }
  .desktop-nav ul li i {
    margin-right: 3px;
  }
  .desktop-nav .banner {
    width: 100%;
    background: #916000;
    display: block;
    height: 40px;
  }
  .desktop-nav .banner .brand {
    width: 1110px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .desktop-nav .banner .brand span {
    height: 40px;
    line-height: 40px;
    margin-right: 28px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    font-size: 16px;
  }
  .desktop-nav .banner .brand span a {
    color: #fff;
  }
  .desktop-nav .banner .brand span:hover {
    font-weight: bold;
  }
  .main-pic img {
    width: 100%;
    height: 870px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .main-pic .main-text {
    position: absolute;
    color: #fff;
    top: 70%;
    right: 5%;
    width: 445px;
  }
  .main-pic .main-text h1 {
    font-size: 40px;
    font-weight: bold;
  }
  .main-pic .main-text p {
    font-size: 24px;
  }
  .main-pic .main-text button {
    margin-top: 16px;
    width: 350px;
    height: 60px;
    border-radius: 30px;
    background: rgba(0, 0, 0, 0);
    border: #fff solid 2px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .main-pic .main-text button a {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .main-pic .main-text button:hover {
    background: rgba(255, 255, 255, 0.808);
    border: 0;
  }
  .main-pic .main-text button:hover a {
    color: #707070;
  }
  .container {
    margin: 0 auto;
  }
  .container .productCards {
    margin-top: 60px;
  }
  .container .productCards .pic-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container .productCards .pic-right .productCardsText {
    width: 555px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 110px;
  }
  .container .productCards .pic-right .productCardsText h2 {
    font-size: 32px;
    font-weight: bold;
  }
  .container .productCards .pic-right .productCardsText p {
    font-size: 20px;
    margin-bottom: 16px;
  }
  .container .productCards .pic-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container .productCards .pic-left .productCardsText {
    width: 555px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 110px;
  }
  .container .productCards .pic-left .productCardsText h2 {
    font-size: 32px;
    font-weight: bold;
  }
  .container .productCards .pic-left .productCardsText p {
    font-size: 20px;
    margin-bottom: 16px;
  }
  .container .productCards img {
    width: 555px;
    height: 555px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 20% 10%;
       object-position: 20% 10%;
  }
  .container .productCards .productDetail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container .productCards .productDetail img {
    width: 555px;
    height: 1080px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 80% 10%;
       object-position: 80% 10%;
  }
  .container .productCards .productDetail .productDetailText {
    width: 555px;
    padding: 110px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .container .productCards .productDetail .productDetailText li {
    margin-bottom: 52px;
  }
  .container .productCards .productDetail button {
    border: 2px solid #000;
    cursor: pointer;
    width: 350px;
    height: 60px;
    border-radius: 30px;
    background: rgba(0, 0, 0, 0);
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .container .productCards .productDetail button a {
    font-size: 20px;
    font-weight: bold;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .container .productCards .productDetail button:hover {
    background: #916000;
    border: #fff;
  }
  .container .productCards .productDetail button:hover a {
    color: #fff;
  }
  .container .prouct-list-more {
    width: 1140px;
    margin: 0 auto;
    margin-top: 100px;
  }
  .container .prouct-list-more .product-sale {
    text-decoration: line-through;
    color: #8d8d8d;
    margin-left: 8px;
  }
  .container .prouct-list-more ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .container .prouct-list-more ul li {
    width: 255px;
    padding: 0 15px;
    margin-bottom: 60px;
  }
  .container .prouct-list-more ul li img {
    width: 255px;
    height: 255px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .container .prouct-list-more ul li i {
    color: #916019;
  }
  .container .pages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 60px;
  }
  .container .pages span {
    margin: 0 15px;
    font-size: 20px;
  }
  .container .pages span:first-child a {
    color: #916019;
    border-bottom: 1px solid #916019;
  }
  .container .product-info {
    width: 1110px;
    height: 1750px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    top: 80px;
    margin: 0 auto;
  }
  .container .product-info .product-img {
    position: relative;
    top: -330px;
  }
  .container .product-info .product-img img {
    width: 350px;
    height: 640px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .container .product-info .product-img img:nth-child(3) {
    width: 733px;
    height: 460px;
    margin-top: 30px;
  }
  .container .product-info img {
    width: 730px;
    height: 460px;
    margin-right: 30px;
  }
  .container .product-info .product-info-text {
    width: 350px;
  }
  .container .product-info .product-info-text h1 {
    font-size: 32px;
    font-weight: bold;
  }
  .container .product-info .product-info-text p {
    font-size: 20px;
    margin-bottom: 32px;
  }
  .container .product-info .product-info-text span {
    font-size: 20px;
    display: block;
    margin-bottom: 12px;
  }
  .container .product-info .product-info-text .fa-heart {
    color: #916019;
  }
  .container .product-info .product-info-text .add-fav {
    display: inline-block;
    font-size: 16px;
  }
  .container .product-info .product-info-text .input-number {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .container .product-info .product-info-text .input-number input {
    width: 141px;
    height: 48px;
    padding-left: 16px;
    border: 1px #916000 solid;
    border-radius: 4px 0px 0px 4px;
    font-size: 20px;
    -moz-appearance: textfield;
    outline: none;
  }
  .container .product-info .product-info-text .input-number input[type="number"]::-webkit-inner-spin-button,
  .container .product-info .product-info-text .input-number input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .container .product-info .product-info-text .input-number .fa-sort-up {
    position: absolute;
    top: 18px;
    left: 138px;
    font-size: 14px;
  }
  .container .product-info .product-info-text .input-number .fa-sort-down {
    position: absolute;
    top: 22px;
    left: 138px;
    font-size: 14px;
  }
  .container .product-info .product-info-text .input-number span {
    background: #916000;
    display: inline-block;
    width: 188px;
    height: 46px;
    text-align: center;
    line-height: 46px;
    border: 2px solid #916000;
    border-radius: 0 4px 4px 0;
  }
  .container .product-info .product-info-text .input-number span a {
    color: #fff;
  }
  .container .log-in {
    position: relative;
    top: 56px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    margin-top: 40px;
    width: 1110px;
    margin-bottom: 120px;
  }
  .container .log-in img {
    width: 730px;
    height: 730px;
    -o-object-fit: cover;
       object-fit: cover;
    margin-right: 30px;
  }
  .container .log-in .log-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container .log-in .log-info h1 {
    font-size: 32px;
    width: 100%;
    margin-bottom: 12px;
  }
  .container .log-in .log-info span {
    width: 100%;
    margin-bottom: 4px;
  }
  .container .log-in .log-info input {
    width: 338px;
    height: 38px;
    padding-left: 12px;
    margin-bottom: 20px;
  }
  .container .log-in .log-info .log-in-buttons {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 38px;
    line-height: 38px;
  }
  .container .log-in .log-info .log-in-buttons a {
    font-weight: bold;
    color: #916000;
  }
  .container .log-in .log-info .log-in-buttons .log-in-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .container .log-in .log-info .log-in-buttons .log-in-button span {
    display: inline-block;
    width: 63px;
    height: 36px;
    border: 1px #916000 solid;
    border-radius: 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 8px;
    cursor: pointer;
  }
  .container .log-in .log-info .log-in-buttons .log-in-button span a {
    color: #916000;
  }
  .container .log-in .log-info .log-in-buttons .log-in-button span:last-child {
    background: #916000;
  }
  .container .log-in .log-info .log-in-buttons .log-in-button span:last-child a {
    color: #fff;
  }
  .container .memberCenter {
    position: relative;
    top: 56px;
    width: 1110px;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    height: auto;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  .container .memberCenter .sidebar {
    color: #848484;
    font-weight: bold;
  }
  .container .memberCenter .sidebar h1 {
    font-size: 20px;
    margin-bottom: 28px;
  }
  .container .memberCenter .sidebar ul li {
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 24px;
  }
  .container .memberCenter .sidebar ul li:first-child {
    border-bottom: 2px solid #916000;
  }
  .container .memberCenter .order {
    display: none;
  }
  .container .memberCenter .returnApply {
    display: none;
  }
  .container .memberCenter .mobile-memberShow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .container .memberCenter .mobile-memberShow .member {
    max-width: 635px;
    margin-right: 130px;
    margin-left: 130px;
  }
  .container .memberCenter .mobile-memberShow .member .memberPD {
    color: #818a91;
    font-size: 16px;
    margin-bottom: 120px;
  }
  .container .memberCenter .mobile-memberShow .member .memberPD span {
    margin-top: 16px;
    cursor: pointer;
    display: block;
    width: 160px;
    height: 38px;
    background: #916000;
    border-radius: 4px;
    text-align: center;
    line-height: 38px;
    color: #fff;
    margin-left: 95px;
  }
  .container .memberCenter .mobile-memberShow .member .memberPD ul li {
    margin: 20px 0px;
    padding: 0;
  }
  .container .memberCenter .mobile-memberShow .member .memberPD ul li span {
    margin-left: 30px;
  }
  .container .memberCenter .mobile-memberShow .member .memberPD ul li input {
    margin-left: 47px;
    height: 38px;
    width: 340px;
    padding-left: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
  }
  .container .memberCenter .mobile-memberShow .member .memberPD ul li:last-child input {
    margin-left: 31px;
  }
  .container .memberCenter .mobile-memberShow .member .memberPD h2 {
    font-size: 16px;
    border-bottom: solid 1px #818a91;
    padding-bottom: 8px;
    color: #000;
  }
  .container .memberCenter .mobile-memberShow .member .memberInfo {
    color: #818a91;
    font-size: 16px;
  }
  .container .memberCenter .mobile-memberShow .member .memberInfo h2 {
    font-size: 16px;
    border-bottom: solid 1px #818a91;
    padding-bottom: 8px;
    color: #000;
  }
  .container .memberCenter .mobile-memberShow .member .memberInfo ul li {
    margin: 16px 0px;
    padding: 0;
  }
  .container .memberCenter .mobile-memberShow .member .memberInfo ul li select {
    margin-left: 30px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    padding-left: 10px;
    width: 62px;
    height: 36px;
    color: #818a91;
  }
  .container .memberCenter .mobile-memberShow .member .memberInfo ul li span {
    margin-left: 30px;
  }
  .container .memberCenter .mobile-memberShow .member .memberInfo ul li input {
    margin-left: 30px;
    height: 38px;
    width: 340px;
    padding-left: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
  }
  .container .memberCenter .mobile-memberShow .member .memberInfo ul li input[type="checkbox"] {
    display: inline-block;
    width: 15px;
    height: 15px;
  }
  .container .memberCenter .mobile-memberShow .member .memberInfo ul li .memAddrInfo select {
    margin-left: 30px;
    display: block;
    padding-left: 10px;
    width: 150px;
    height: 38px;
    margin-bottom: 8px;
  }
  .container .memberCenter .mobile-memberShow .member .memberInfo ul .memberAddr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px;
  }
  .container .memberCenter .mobile-memberShow .member .memberInfo ul .memberAddr span {
    margin: 0;
  }
  .container .memberCenter .mobile-memberShow .member .memberInfo ul .memberAddr .confirmMod {
    cursor: pointer;
    display: block;
    width: 160px;
    height: 38px;
    background: #916000;
    border-radius: 4px;
    text-align: center;
    line-height: 38px;
    color: #fff;
    margin-left: 30px;
  }
  .container .memberCenter .mobile-memberShow .member .memberInfo ul .memberAddr span:last-child {
    display: block;
    margin-top: 12px;
  }
  .container .memberCenter .mobile-memberShow .member .memberInfo ul .memberAddr span:last-child input {
    margin-right: 8px;
  }
  .container .memberCenter .mobile-memberShow .member .memberInfo ul .memberAddr select {
    margin-bottom: 16px;
  }
  .container .memberCenter .memberNumber {
    color: #818a91;
  }
  .container .memberCenter .memberNumber .memberNumberInfo {
    font-size: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 25px;
  }
  .container .memberCenter .memberNumber .memberNumberInfo .fa-user {
    color: #000;
    font-size: 20px;
    margin-right: 5px;
  }
  .container .memberCenter .memberNumber ul {
    position: relative;
  }
  .container .memberCenter .memberNumber ul .bonus {
    position: relative;
    top: -20px;
    color: #a5a5a5;
    font-size: 14px;
  }
  .container .memberCenter .memberNumber ul li {
    width: 200px;
    margin-bottom: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .container .memberCenter .memberNumber ul li span {
    display: inline;
    width: 100px;
    text-align: left;
  }
  .productList {
    width: 100%;
    padding: 40px 0;
    background: #e0e0e0;
    margin-top: 60px;
  }
  .productList ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .productList ul li {
    position: relative;
    margin: 0 15px;
  }
  .productList ul li img {
    width: 350px;
    height: 540px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .productList ul li h3 {
    font-size: 24px;
    font-weight: bold;
  }
  .productList ul li .productPrice {
    margin-top: 16px;
  }
  .productList ul li .productPrice span {
    margin-right: 8px;
  }
  .productList ul li .productPrice .product-sale {
    text-decoration: line-through;
  }
  .productList ul li .sold-out {
    position: absolute;
    top: 0;
    z-index: -1;
    color: #fff;
    display: inline-block;
    width: 350px;
    top: 40%;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
  }
  .productList ul .sold-out-product:hover .sold-out {
    z-index: 2;
  }
  .productList ul .sold-out-product:hover img {
    -webkit-filter: brightness(0.7);
  }
  .recycleState {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 60px 0;
  }
  .recycleState img {
    width: 730px;
    height: 520px;
  }
  .recycleState .recycleStateText {
    width: 350px;
    padding: 82px 30px;
  }
  .recycleState .recycleStateText h2 {
    font-size: 32px;
    font-weight: bold;
  }
  .recycleState .recycleStateText p {
    font-size: 20px;
    margin-bottom: 16px;
  }
  .recycleState .recycleStateText span {
    display: block;
    font-size: 16px;
    margin-bottom: 16px;
  }
  .mobile-footer {
    display: none;
  }
  .desktop-footer .subscribe {
    position: relative;
    height: 300px;
  }
  .desktop-footer .subscribe img {
    width: 100%;
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .desktop-footer .subscribe .subscribeText {
    position: absolute;
    top: 20%;
    left: 20%;
  }
  .desktop-footer .subscribe .subscribeText p {
    color: #8d8d8d;
    font-size: 32px;
    font-weight: bold;
  }
  .desktop-footer .subscribe .subscribeText input {
    height: 60px;
    width: 330px;
    padding-left: 20px;
    font-size: 16px;
    border: 2px solid #916000;
  }
  .desktop-footer .subscribe .subscribeText a {
    position: absolute;
    display: inline-block;
    width: 130px;
    height: 61px;
    background: #916000;
    text-align: center;
    line-height: 60px;
    right: 1px;
    top: 95px;
    color: #fff;
    font-size: 16px;
  }
  .desktop-footer .mobile-copyRight {
    display: none;
  }
  .desktop-footer .desktop-copyright {
    width: 100%;
    height: 80px;
    background: #916000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .desktop-footer .desktop-copyright .copyright-container {
    margin: auto;
    width: 1110px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .desktop-footer .desktop-copyright .copyright-container .copyright-left {
    color: #fff;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .desktop-footer .desktop-copyright .copyright-container .copyright-left img {
    width: 128px;
    height: 38px;
    margin-right: 20px;
  }
  .desktop-footer .desktop-copyright .copyright-container .copyright-left span {
    font-size: 14px;
  }
  .desktop-footer .desktop-copyright .copyright-container .copyright-right ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .desktop-footer .desktop-copyright .copyright-container .copyright-right ul li {
    margin-left: 36px;
  }
  .desktop-footer .desktop-copyright .copyright-container .copyright-right ul li a {
    color: #fff;
    font-size: 20px;
  }
}
/*# sourceMappingURL=style.css.map */